/* Content Style */
.content-wrapper {
	display: block;
	margin: 0 auto;
	width: 100%;
	padding: 0 20px
}
.content {
	width: 100%;
	padding-top: 65px;
	padding-bottom: 30px
}
/* Content title */
.table-title {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row
}
.table-title img {
	width: 40px;
	margin-right: 10px
}
.table-title h2 {
	margin: 10px 0!important
}
/* Data table */
.data-table {
	border-top: 1px solid #E0E0E0;
	padding: 20px 5px 5px 5px;
	overflow-x: auto
}
.mdl-data-table {
	margin: 0 auto!important
}
.pagination p {
	margin: 0
}
.pagination button {
	border: none;
	background: none;
	margin: 0 0 0 10px!important;
	color: #656565
}
.pagination > td {
	border: none!important;
	padding: 7px 18px!important
}
.pagination > td:nth-child(4) > div {
	display: flex;
	justify-content: flex-end;
	align-items: center
}
.pagination:hover {
	background: none!important
}
/* Responsive styling */
@media(max-width: 1025px) {
	.content {
		padding-top: 55px
	}
}
@media(max-width: 525px) {
	.table-title > h2 {
		font-size: 1.7em;
		margin: 0!important
	}
	.table-title > img {
		width: 25px
	}
}
@media (max-width: 450px) {
	.data-table {
		width: 100%
	}
	td, th {
		padding: 10px!important
	}
}
@media(max-width: 320px) {
	.table-title > img {
		display: none
	}
}